feature/ai-chat-api
PORT=4000
NODE_ENV=development
FLASK_API_URL=http://localhost:5000

# Server
PORT=

# MongoDB
MONGO_URI=

# JWT
JWT_SECRET=

# Email
EMAIL_USER=
EMAIL_PASS=

# OTP Settings
OTP_LENGTH=
OTP_EXPIRY_MINUTES=
OTP_LIMIT=
OTP_LOCKOUT_TIME=

# Dev
EMAIL_DISABLED=
feature/ai-chat-api

# ML_Service
ML_SERVICE_URL=

